body {
    background-color:lightseagreen;
    color:darkblue;
    text-align:center;
    height:100%;
}


/* editing Button container */
.scores {
    background-color:lightgreen;
    text-align:center;
    height:100px;
    justify-content: center;
}
#scores, #btq {
    height: 75px;
    background-color:lightcyan;
    color:lightseagreen;
    width:20%;
    margin-top:10px;
    border-radius:50px;
    font-weight:900;
    font-size:30px;
}
#scores:hover {
    background-color:aquamarine;
    color:darksalmon
}
/* hides elements */
.hide {
    display:none;
}

.quiz-container {
    padding:3%;
    padding-top:4%;
    background-color: lightgreen;
    margin-top:10%;
    margin-left:25%;
    margin-right:25%;
    border-radius:100px;
}
.timer {
    background-color:lightcyan;
    margin-bottom:50px;
    border-radius:50px;
    height:25px;
    margin-left:40%;
    margin-right:40%;
    text-align:center;
    font-size: larger;
    font-weight: 900;
}
 #time {
    background-color:lightcyan;
    color:red;
    border-radius:10px;
    font-weight:900;

} 

#start, #delete  {
    height: 50px;
    vertical-align: center;
    background-color:lightcyan;
    color:lightseagreen;
    width:20%;
    margin-top:30px;
    border-radius:50px;
    font-weight:900;
    font-size:15px;
}
.choices button {
    background-color: lightcyan;
    color:lightseagreen;
    border-radius: 50px;
    padding:2%;
    font-weight: 900;
}

